@font-face {
  font-family: Arial;
  src: url("../../assets/fonts/Arial.ttf");
}

@font-face {
  font-family: Georgia;
  src: url("../../assets/fonts/Georgia.ttf");
}

:root {
  --color-light-s: #FAFAFA;
  --color-light-l: #F6F6F6;
  --color-light-xl: #FFFFFF;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
}

html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--color-light-xl);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}


.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}

/* .header__wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
} */

.header__logo-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 1.92px;
  color: var(--color-dark-l);
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  transition: color .3s ease-in-out;
}

.header__logo-title:hover {
  color: var(--color-dark-3xl);
}

.header__logo-subtitle {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1.3px;
  color: var(--color-dark-3xl);
  padding-bottom: 30px;
  text-align: center;
}

.logo {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.logo-invisible {
  opacity: 0;
}

.navigation__list {
  display: flex;
  gap: 35px;
}

.navigation__link {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-l);
  transition: color .3s ease-in-out;
  position: relative;
}

.navigation__link::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  transition-duration: .3s;
  transition-property: transform;
  transform: scaleX(0);
}

.navigation__link:hover {
  color: var(--color-dark-3xl);
}

.navigation__link-active,
.navigation__link-active:hover {
  color: var(--color-dark-l);
}

.navigation__link-active::before {
  transform: scaleX(1);
}

.main {
  background-color: var(--color-light-l);
}

.our-friends {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.our-friends__title {
  padding: 80px 0px 60px;
  margin: 0 400px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: var(--color-dark-l);
  padding-bottom: 30px;
  text-align: center;
}

.pets__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
  margin-bottom: 60px;
  margin-top: 30px; 
}

.pets__item {
  background-color: var(--color-light-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  transition: all .3s ease-in-out;
}

.pets__item:hover {
  cursor:pointer;
  background-color: var(--color-light-xl);
}

.pets__image {
  padding-bottom: 30px;
}

.pets__name {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 1.2px;
  color: var(--color-dark-l);
  padding-bottom: 30px;
  margin: 0;
}

.pets__button {
  padding: 15px 45px;
  margin-bottom: 30px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1.02px;
  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.pets__button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.pets__item:hover .pets__button {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.pets__pagination {
  padding-bottom: 100px;
  display: flex;
  gap: 20px;
}

.pagination__button {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background-color: transparent;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: var(--color-dark-3xl);
  transition: background-color .3s ease-in-out;
}

.pagination__num {
  background-color: var(--color-primary);
}

.pagination__button[disabled] {
  border: 2px solid var(--color-dark-s);
  color: var(--color-dark-s);
}

.pagination__button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.pagination__button[disabled]:hover {
  border-color: var(--color-dark-s);
  background-color: transparent;
  cursor: auto;
}

.pagination__num:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  cursor: auto;
}

.footer {
  background-image: url('../../assets/images/noise_transparent@2x.png'),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);;
}

.footer__container {
  display: flex;
}

.footer-contacts__wrapper {
  display: flex;
}

.footer-contacts:nth-child(1) {
  padding-top: 56px;
  margin-right: 138px;
}

.footer-contacts {
  padding-top: 56px;
  width: 302px;
}

.contacts__title {
  padding-bottom: 41px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: var(--color-light-xl);
}

.locations__title {
  padding-bottom: 34px;
}

.contacts__link {
  display: flex;
  align-items:center;
  margin-bottom: 41px;
  transition: all .3s ease-in-out;
}

.locations__link {
  margin-bottom: 31px;
}

.contacts__icon {
  margin-right: 20px;
}

.contacts__link-text {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: var(--color-primary);
  transition: all .3s ease-in-out;
}

.contacts__link-text:hover {
  color: var(--color-primary-light);
}

.contacts__link:hover .contacts__icon {
  stroke: var(--color-primary-light);
}

.footer__image {
  margin-left: auto;
  padding-top: 40px;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  margin-top: 2px;
  margin-right: 46px;
  color: var(--color-dark-3xl);
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all .3s ease-in-out;
}

.burger__line {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  transform: translateY(-50%) scale(1);
  background-color: var(--color-dark-3xl);
  transition: all .3s ease-in-out;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-dark-3xl);
  transition: all .3s ease-in-out, right .3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger:hover::after, 
.burger:hover::before, 
.burger:hover .burger__line  {
  background-color: var(--color-dark-xl);
} 

.burger_active {
  transform:  rotate(90deg);
}

.logo-nav {
  display: none;
}

.page__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.6);
  overflow: auto;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 700;
  cursor: pointer;
}

.page__overlay_modal {
  display: none;
}

.page__overlay_modal_open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  position: relative;
  display: flex;
  width: 900px;
  height: 500px;
  margin: auto;
  margin-top: auto;
  background-color: var(--color-light-s);
  border-radius: 9px;
	z-index: 1000;
}

.modal__container {
  display: flex;
}

.modal__close {
  position: absolute;
	top: -45px;
	right: -45px;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.page__overlay:hover .modal:not(:hover) .modal__close,
.modal__close:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.modal__image {
  border-radius: 9px;
}

.modal__text-wapper {
  padding: 50px 20px 89px 30px;
}

.modal__text-name {
  padding-bottom: 10px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.modal__text-type {
  padding-bottom: 40px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.modal__text-story {
  padding-bottom: 40px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.modal__text-list {
  display: grid;
  margin-left: 20px;
  gap: 11px;
  color: var(--color-primary);
}

.text-item__text {
  color: #000;
}

.modal__text-item {
  list-style:disc;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }

  .header__logo-title {
    padding-top: 30px;
  }
  
  .our-friends__title {
    padding: 80px 0px 30px;
    margin: 0 auto;
  }

  .pets__list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
    margin-top: 0px; 
  }
  
  .pets__item:nth-child(7),
  .pets__item:nth-child(8) {
    display: none;
  }
  
  .pets__name {
    margin: 0;
  }

  .pets__pagination {
    padding-bottom: 76px;
    display: flex;
    gap: 20px;
  }
  
  .footer__container {
    flex-direction: column;
    align-items:center; 
  }
  .footer-contacts__wrapper {
    display: flex;
    padding-top: 30px;
  }

  .footer-contacts {
    padding-top: 0px;
    width: 307px;
  
  }

  .footer-contacts:nth-child(1) {
    padding-top: 0px;
    margin-right: 32px;
  }

  .footer__image {
    margin-left: 0;
    padding-top: 20px;
  }

  .modal {
    width: 630px;
    height: 350px;
  }
  
  .modal__text-wapper {
    padding: 10px 9px 38px 10px;
  }
  
  .modal__text-type {
    padding-bottom: 20px;
  }
  
  .modal__text-story {
    padding-bottom: 20px;
    font-size: 13px;
  }
  
  .modal__text-list {
    margin-left: 20px;
    gap: 6px;
  }
  
}

@media (max-width: 767px) {

  .container {
    padding: 0 10px;
    min-width: 320px;
  }

  .burger {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: relative;
  }
  
  .navigation__list {
    display: flex;
    position: fixed;
    top: 0;
    right: -320px;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 100vh;
    gap: 40px;
    padding-top: 0;
    background-color: var(--color-light-s);
    transition: all .3s ease-in-out;
    
  }

  .logo-nav {
    position: absolute;
    top: 1px;
    margin-right: 110px;
  }

  .navigation__list-active {
    display: flex;
    flex-direction: column;
    right: 0;
    opacity: 1;
    z-index: 1000;
    justify-content: center;
  }

  .navigation__item:nth-child(2) {
    /* padding-top: 93px; */
  }

  .navigation__link {
    font-size: 32px;
    line-height: 160%;
  }
  
  .our-friends__title {
    padding: 42px 0;
    margin: 0 auto;
    font-size: 25px;
    letter-spacing: 0.06em;
  }

  .pets__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .pets__item:nth-child(4),
  .pets__item:nth-child(5),
  .pets__item:nth-child(6),
  .pets__item:nth-child(7),
  .pets__item:nth-child(8) {
    display: none;
  }

  .pets__name {
    margin: 0;
  }
  
  .pets__pagination {
    padding-bottom: 42px;
    gap: 10px;
  }
  
  .footer-contacts__wrapper {
    flex-direction: column;
    padding-top: 30px;
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .footer-contacts:nth-child(1) {
    padding-top: 0px;
    margin: 0 auto;
  }
  
  .contacts__title {
    max-width: 270px;
    padding-bottom: 41px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.06em;
  }
  
  .locations__title {
    padding-bottom: 37px;
  }
  
  .contacts__icon {
    margin-right: 20px;
  }
  
  .locations__link {
    margin-bottom: 36px;
  }

  .footer__image {
    width: 260px;
    margin-left: 0;
    padding-top: 5px;
  }

  .modal {
    width: 240px;
    height: auto;
  }

  .modal__image {
    display: none;
  }
  
  .modal__text-wapper {
    padding: 10px 10px 11px;
  }
  
  .modal__text-name {
    text-align: center;
  }

  .modal__text-type {
    padding-bottom: 20px;
    text-align: center;
  }
  
  .modal__text-story {
    padding-bottom: 24px;
    font-size: 13px;
    text-align: justify;
  }
  
  .modal__text-list {
    margin-left: 20px;
    gap: 6px;
  }

}

@media (max-height: 500px) {
  .navigation__list {
    gap: 0px;
  }

  .navigation__list-active {
 
    justify-content: center;
  }

  .navigation__link {
    font-size: 25px;
    line-height: 160%;
  }
}

@media (max-height: 340px) {
  .navigation__list {
    gap: 0px;
    padding-bottom: 20px;
  }

  .navigation__list-active {
    justify-content: end;
  }

  .navigation__link {
    font-size: 25px;
  }
}